@model CandyMVCProject.Models.CandyModel
@{
    ViewBag.Title = "CandyDetails";
}

<h2>CandyDetails of @Model.Name</h2>

<h3>Flavour</h3>
<p>@Model.Flavour</p>

<h3>Sugar Amount</h3>
<p>@Model.SugarAmount</p>

